* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    
}

.container {
    display: flex;
    justify-content: center;
    
    max-width: 600px;
    margin: 0;
    padding: 0 15px;
}

.block {
    display: flex;
    flex-direction: column;
    width: 800px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0,.3);
    border-radius: 3px;
    margin-top: 100px;
    padding: 15px;
}

.block__form {
    content: "";
}

.block__form:after {
    clear: both;    
    content: "";
}

.block__form-input {
    display: flex;
    
    width: 100%;
    height: 25px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0,.4);
    text-indent: 10px;
    font-family: cursive;
    content: "";
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.block__form-button {
    
    
    margin: 10px;
}

.block__form-button-filter{
    margin: px;
}

.block__form-button-filter-delete-completed,
.block__form-button-filter-completed,
.block__form-button-filter-uncompleted,
.block__form-button-filter-deletcomplet {
    
    color: inherit;
   
    padding: 3px 7px;
    text-decoration: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 3px;
    font-family: cursive;
    margin: 5px;
}

.block__form-button-filter-delete-completed,
.block__form-button-filter-completed,
.block__form-button-filter-uncompleted,
.block__form-button-filter-deletcomplet:hover {
    
    color: inherit;
    border: 1px solid transparent;
    padding: 3px 7px;
    text-decoration: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 3px;
    font-family: cursive;
    margin: 5px;
}

.block__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.block__list-element {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border: none;
    outline: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: cursive;
    background-color: transparent;
}

.block__list-element_deleted {
    text-decoration: line-through;
}

.block__list-element_hide {
    display: none;
}

.block__list-element:hover > .block__list-delete {
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity .3s ease;
}
.block__list-delete {
    display: flex;
    justify-content: center;
    
    background-color: #e6e6e6;
    color: white;
    box-shadow: 0 0 5px 0 rgba (0, 0, 0,.4);
    cursor: pointer;
    border-radius: 10px;
    width: 5%;
    line-height: 20px;
    
    opacity: 0;
    transition: opacity .3s ease;
}